
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership Directory</title>
    <link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http:maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https:fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="css/style.css">
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-default navigation-clean-search">
                <div class="container">
                    <div class="navbar-header"><img src="images/logo_here.png"  height="60px">
                        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    </div>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- <li class="active" role="presentation"><a href="#">Home</a></li> -->
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Explore <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                     <li th:action="@{/membership/new}" th:method="get" type="button" role="presentation"><a href="#">Start Here</a></li>
                                    <li th:action="@{/membership/index}" th:method="get" type="button" role="presentation"><a href="#">Members</a></li>  
                                </ul>
                            </li>
                        </ul>
                       </div>
                </div>
            </nav>
            <div class="container hero">
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0">   
                       <!--  <img src="images/logo_here.png"  height="200px"> -->
                        <h1>The revolution is here.</h1>
                        <p>Welcome to your Members Directory</p> 
                        <p>This is 'one in a million' application to give you a stress-free everyday planning and organizing of your activities. Simply click on the activity button below to get started. Be sure to schedule some nap time.</p>
                        <form th:action="@{/membership/new}" th:method="get">
                        	<button type="submit" class="btn btn-success btn-lg action-button" >Let's Get Started!</button>
                        </form>
   					</div>
   				</div>
   				
   		<div class="container hero">
          <div class="row">
		    <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0"> 
		    	<form class="form-horizontal" th:role="form">
		      <table class="table table-bordered table-striped" th:id="members">
		        <thead>
		          <tr>
		            <th scope="col">Firstname</th>
		            <th scope="col">LastName</th>
		            <th scope="col">Email</th>
		            <th scope="col">Phone Number</th>
		            <th scope="col">Gender</th>
		            <th scope="col">Profession</th>
		            <th scope="col">City</th>
		           <!--  <th scope="col">Birthday(MM/DD)</th> -->
		          </tr>
		        </thead>
		        <tbody>
		        	<tr th:each="member:${membership}">
		   				<td th:text="${member.id}"></td>
		   				<td th:text="${member.firstName}"></td>
						<td th:text="${member.email}"></td>
						<td th:numbers="${member.phone}"></td>
						<td th:text="${member.gender}"></td>
						<td th:text="${member.profession}"></td>
						<td th:text="${member.city}"></td>
						<!-- <td th:text="${member.birthday}"></td> -->
						<!-- Edit Button -->
		          		<td th:action="@{membership/edit}" th:object="${member.id}" method="GET">
						<button type="submit" class="btn btn-primary btn-lg action-button">Edit</button>							
						</td> 
					</tr>  
		        </tbody>
			</table>
		</form>
       <!-- <form action="#" th:action="@{/dashboard/myEntries/} + ${{entry.id}}" method="get">
                <button th:id="'table_entry_childs_button_' + ${entry.id}" type="submit">
                    <i>details</i>
                </button>
            </form>
        </form> -->
      
    </div>
    </div>
            </div>
        </div>
    </div>
 <footer>
	<div class="footer_copy">
                <div class="container">
                    <div class="column one">

                        <div class="copyright">
                            &copy;2019 SpringWorks! INC<a target="_blank" rel="nofollow" href=""></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>
 
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="webjars/jquery/1.9.1/jquery.min.js"></script>
</body>

</html>